[nz-button] {
    float: left;
    margin-bottom: 12px;
    background-color: rgb(133, 216, 255);
    border-radius: 10%;
    border-color: rgb(0, 136, 255);
    font-family: sans-serif;
    position: absolute;
  }