.candidate{
    display: inline;
    margin: 15px 20px;
    border-radius: 10px;
    overflow: hidden;
    clear: both;
    

    .avatar{
        float: left;
        margin: 10px;
        overflow: hidden;
        border-radius: 100px;
        

        img{
            display: block;
            width: 150px;
        }
    }
    .details{
        margin: 25px;
        margin-top: 10;
        float: left;
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 15px;
        
        
       

    }
}

.ant-card{

display: relative;
margin-top: 25px;



}